{%extends 'dashboard_base.html'%}
{%load static%}

{%block contenidoBody%}
<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-xl px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="user"></i></div>
                            Configuración de Cuenta - Seguridad
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-4">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-link ms-0" href="{%url 'configperfil'%}">Perfil</a>
            <a class="nav-link active" href="{%url 'seguridad'%}">Seguridad</a>
            <a class="nav-link ms-0" href="{%url 'pago'%}">Forma de Pago</a>
        </nav>
        <hr class="mt-0 mb-4" />
        <div class="row">
            <div class="col-lg-12">
                <!-- Change password card-->
                <div class="card mb-4">
                    <div class="card-header">Cambiar Contraseña</div>
                    <div class="card-body">
                        <form id="cambioContraseñaForm" method="post">
                            {% csrf_token %}
                            <!-- Mostrar mensaje de error -->
                            {% if error_message %}
                            <div class="alert alert-danger mt-3">
                                {{ error_message }}
                            </div>
                            {% endif %}

                            <!-- Mostrar mensaje de éxito -->
                            {% if success_message %}
                            <div class="alert alert-success mt-3">
                                {{ success_message }}
                            </div>
                            {% endif %}

                            <!-- Form Group (current password) -->
                            <div class="mb-3">
                                <label class="small mb-1" for="currentPassword">Contraseña Actual</label>
                                <input class="form-control" id="currentPassword" name="currentPassword" type="password"
                                    placeholder="Ingrese la Contraseña Actual" required />
                            </div>
                            <!-- Form Group (new password) -->
                            <div class="mb-3">
                                <label class="small mb-1" for="newPassword">Contraseña Nueva</label>
                                <input class="form-control" id="newPassword" name="newPassword" type="password"
                                    placeholder="Ingrese la Nueva Contraseña" required />
                            </div>
                            <!-- Form Group (confirm password) -->
                            <div class="mb-3">
                                <label class="small mb-1" for="confirmPassword">Confirmar Contraseña</label>
                                <input class="form-control" id="confirmPassword" name="confirmPassword" type="password"
                                    placeholder="Confirmar nueva contraseña" required />
                            </div>
                            <button class="btn btn-primary" type="submit" id="guardarBtn">Guardar</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">Eliminar Cuenta</div>
            <div class="card-body">
                <p>La eliminación de su cuenta es una acción permanente y no se puede deshacer. Si está seguro de que
                    desea eliminar su cuenta, seleccione el botón a continuación.</p>
                <button class="btn btn-danger-soft text-danger" type="button">Entiendo los riezgos, borra mi
                    Cuenta.</button>
            </div>
        </div>
    </div>
    </div>
    </div>
</main>
{%endblock%}