{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block title %}Registrarse{% endblock %}</title>
    <link href="{% static '/css/styles.css' %}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static '/js/jquery.com_ui_1.12.1_jquery-ui.js' %}"></script>

    <script data-search-pseudo-elements="" defer=""
        src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">


</head>

<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container-xl px-4">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <!-- Basic registration form-->
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header justify-content-center">
                                    <h3 class="fw-light my-4">Crear Cuenta</h3>
                                </div>
                                <div class="card-body">

                                       <form method="post" class="form-signin" enctype="multipart/form-data">

                                        {% csrf_token %}
                                        <p>
                                            <label for="id_user_name">Usuario:</label>
                                            <input type="text" name="user_name" maxlength="50" class="form-control"
                                                required="" id="id_user_name">
                                        </p>

                                        <p>
                                            <label for="id_nombre">Nombre:</label>
                                            <input type="text" name="nombre" maxlength="30" class="form-control"
                                                id="id_nombre">
                                        </p>

                                        <p>
                                            <label for="id_email">Correo electrónico:</label>
                                            <input type="email" name="email" maxlength="254" class="form-control"
                                                required="" id="id_email">
                                        </p>

                                        <p>
                                            <label for="id_apellido_paterno">Apellido paterno:</label>
                                            <input type="text" name="apellido_paterno" maxlength="30"
                                                class="form-control" required="" id="id_apellido_paterno">
                                        </p>

                                        <p>
                                            <label for="id_apellido_materno">Apellido materno:</label>
                                            <input type="text" name="apellido_materno" maxlength="30"
                                                class="form-control" required="" id="id_apellido_materno">
                                        </p>

                                        <p>
                                            <label for="id_password">Contraseña:</label>
                                            <input type="password" name="password" autocomplete="new-password"
                                                class="form-control" required="" id="id_password">
                                        </p>

                                        <p>
                                            <label for="id_password1">Confirmar contraseña:</label>
                                            <input type="password" name="password2" autocomplete="new-password"
                                                class="form-control" required="" id="id_password2">
                                        </p>

                                        <p>
                                            <label for="id_gender">Género:</label>
                                            <select name="gender" class="form-control" required="" id="id_gender">
                                                <option value="" selected="">---------</option>
                                                <option value="masculino">Masculino</option>
                                                <option value="femenino">Femenino</option>
                                                <option value="otro">Otro</option>
                                            </select>
                                        </p>

                                        <p>
                                            <label for="id_phone">Téléfono:</label>
                                            <input type="text" name="phone" maxlength="10" required="" class="form-control"
                                                id="id_phone">
                                        </p>

                                        <p>
                                                <label for="id_birth_date">Fecha de Nacimiento:</label>
                                                <input type="text" name="birth_date" value="{{user.birth_date}}" class="form-control"
                                                  id="inputBirthday">
                                        </p>

                                       <p>
                                        <label for="id_is_staff">Es empleado:</label>
                                        <input type="checkbox" name="is_staff"  id="id_is_staff">
                                       </p>

                                        <p>
                                            <label for="id_es_vendedor">Es vendedor:</label>
                                            <input type="checkbox" name="es_vendedor"  id="id_es_vendedor">
                                        </p>

                                        <p>
                                            <label for="id_image">Imagen:</label>
                                            <input type="file" class="form-control" name="image" id="customFile"/>
                                        </p>

                                     
                                    <button type="submit" class="btn btn-primary btn-block col-md-12 mt-4">Crear
                                        Cuenta</button>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small"><a href="/">¿Ya tienes una cuenta? Inicia sesión</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="footer-admin mt-auto footer-dark">
                <div class="container-xl px-4">
                    <div class="row">
                        <div class="col-md-6 small">Copyright © Your Website 2021</div>
                        <div class="col-md-6 text-md-end small">
                            <a href="#!">Privacy Policy</a>
                            ·
                            <a href="#!">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>

    <script src="https://assets.startbootstrap.com/js/sb-customizer.js"></script>
    <sb-customizer project="sb-admin-pro"></sb-customizer>
    <script defer
        src="https://static.cloudflareinsights.com/beacon.min.js/v8b253dfea2ab4077af8c6f58422dfbfd1689876627854"
        integrity="sha512-bjgnUKX4azu3dLTVtie9u6TKqgx29RBwfj3QXYt5EKfWM/9hPSAI/4qcV5NACjwAo8UtTeWefx6Zq5PHcMm7Tg=="
        data-cf-beacon='{"rayId":"7ee647480c4f2e5d","version":"2023.7.0","b":1,"token":"6e2c2575ac8f44ed824cef7899ba8463","si":100}'
        crossorigin="anonymous"></script>
    <!-- Agrega esto al final del cuerpo de tu template, antes de </body> -->

    <script>
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional['es-MX']); // Set Spanish locale for Mexico
            $("#inputBirthday").datepicker({
                dateFormat: 'dd/mm/yy', // Configura el formato de fecha a "dd/mm/yyyy"
                changeMonth: true,
                changeYear: true,
                yearRange: "1900:{{ 'now'|date:'Y' }}" // Ajusta el rango de años según tus necesidades
            });
        });
    </script>
</body>

</html>