{% extends 'dashboard_base.html' %}
{% load static %}

{% block tabla %}
<div class="card mb-4">
    <div class="card-header">Gestión de personal</div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Nickname</th>
                    <th>Nombre(s)</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Género</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>M</td>
                    <td>{{ user.email }}</td>
                    <td>$320,800</td>
                    <td>
                        <div class="badge bg-primary text-white rounded-pill">Full-time</div>
                    </td>
                    <td>
                        <button class="btn btn-datatable btn-icon btn-transparent-dark me-2">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </button>
                        <button class="btn btn-datatable btn-icon btn-transparent-dark">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
